<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body style='background-color:orange;'>
<h2>Welcome to the text Analyzer. Enter your text below</h2>
<form action='/analyze'  method='get'>

    <textarea name='text' style='margin: 0px; width:721px; height:93px;'></textarea></br>
    <input type='checkbox' name='removepunc'>Remove Punctuations and Digits</br>
    <input type='checkbox' name='fullcaps' >UpperCase</br>
    <input type='checkbox' name='charcount' >Character Counter</br>
    <button type='submit'>Get Text</button>

</form>
</body>
</html>
